<!doctype html>
<head>
  <title>Traffic Data</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <div id="link">
    <a href="/view">Find Traffic Signs</a>
  </div>

  <div id="form-div">
    <form action="/" method="post">
        <label for="latitude">Latitude:</label>
      <% if (errors[0]) {%>
        <p class="warning">Latitude needs to be a double.</p>
      <% } %>
        <input type="float" id="latitude" name="latitude" />
        <br />
        <br />

        <label for="longitude">Longitude:</label>
      <% if (errors[1]) {%>
        <p class="warning">Longitude needs to be a double.</p>
      <% } %>
        <input type="float" id="longitude" name="longitude" />
        <br />
        <br />

        <label for="description">Sign Type:</label>
      <% if (errors[2]) {%>
        <p class="warning">Sign Type needs to be a valid enum</p>
      <% } %>
        <input type="text" id="signtype" name="signtype" />
        <br />
        <br />

        <input class="button" type="submit" value="Add Sign" />
    </form>
  </div>

</body>
</html>
